doctype html
html
  head
    title lineus.dev
    include pug/headCommon.pug
  body
    #header
      include pug/logo.pug
      include pug/nav.pug
    #container
      #latestPost
        span
          h3.lp Latest Article
          p
            a(href=latestPost.link) !{latestPost.title}
        #latestSyn !{latestPost.synopsis}
      #top3Posts
        h3 Top 3 Posts
        each post in top3
          div.topPost
            a(href=post.path) #{post.display}
    #footer
      include pug/footer.pug